h1 {
    color: blue;
    text-shadow: 2px 5px 20px;
}
/*Creates linear gradient background (white to blue)*/
html {
    height: 100%;
    background: linear-gradient(to bottom ,white, blue)fixed;
}
/*The red div for title*/
#sky {
    padding: 10px;
    height: 80px;
    background-color: red;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transform: rotateX(14deg);
}
/*dsplays box 1*/
#box1 {
    float: left;
    width: 140px;
    height: 85px;
    background-color: orange;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: width 2s, height 4s;
    
}
/*changes box 1 from it's original position (Transition 23)*/
#box1:hover{
    width: 200px;
    height: 420px;
}
  /*Calender*/
 #pic1 {
     border: 40px solid transparent;
     margin-left: 500px;
     animation-name: calendar;
     animation-duration: 3s;
     position: fixed;
     border-image: url(http://www.w3.org/TR/css3-background/border.png) 27 36 25 44 repeat;
 }
 /*Changes the opacity of the calender. Makes the calender appear*/
@keyframes calendar {
  0%  { opacity: 0.2;}
  35% { opacity: 0.7;}
  100% { opacity: 1;}
 }